

.pp{
    color: aliceblue;
}

.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    /* margin-top: 200px; */
    
    padding-bottom: 30px;
}

.header{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 10px;
    padding-bottom: 15px;
}

.text{
    font-size: 48px;
    font-weight: 700px;
    color: gray;
}

.underline{
    width: 91px;
    height: 6px;
    background: #61DBFB;
    border-radius: 9px;
}

.inputs{
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 60px;
    /* background: cadetblue; */
    background-color: rgba(97, 96, 96, 0.397);
    border-radius: 6px;
    
}

.input .pp{
    margin: 0px 30px;
    font-size: 30px;
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    font-size: 19px;
    color: #ffff;
    outline: none;
    border: none;
}

.input input::placeholder{
    color: #8b8a8a;
}

.submit-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: rgb(39, 39, 39);
    background-color: rgb(199, 198, 198);
    border-radius: 10px;
    font-size: 19px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.submit:hover{
    background-color: rgb(29, 29, 29);
    color: gray;
    box-shadow: none;
}